<div class="push-sm">
  <mat-card>
    <mat-card-content class="view-header">
      <div>
        <mat-form-field>
          <mat-icon color="grey" matSuffix>search</mat-icon>
          <input matInput type="text" [placeholder]="'ACTIONS.SEARCH' | translate"/>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="accent" (click)="createPrediction()" *ngIf="user">
          {{'ACTIONS.CREATE' | translate}}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="predictions__container view-type__cards">
    <ts-prediction-cards [items]="items" (openPrediction)="openPrediction($event)"></ts-prediction-cards>
  </div>
</div>
