<h2 mat-dialog-title>{{'ACTIONS.CREATE' | translate}} {{'NOUNS.PREDICTION' | translate | lowercase}}</h2>
<mat-dialog-content>
  <form [formGroup]="predictionForm">
    <mat-form-field>
      <input type="text"
             [placeholder]="'NOUNS.TRADE_PAIR' | translate"
             required
             matInput
             formControlName="trade_pair"
             #autoInput
             [matAutocomplete]="auto">
      <mat-error *ngIf="predictionForm.controls['trade_pair'].hasError('required')" translate>ERRORS.REQUIRED
      </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-optgroup *ngFor="let exchange of exchanges" [label]="exchange.name">
          <mat-option *ngFor="let trade_pair of exchange.trade_pairs | name: autoInput.value"
                      [value]="trade_pair"
                      (click)="setExchange(exchange.name)">
            {{ trade_pair }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
             [placeholder]="'NOUNS.EXCHANGE' | translate"
             required
             matInput
             formControlName="exchange"
             #autoStockInput
             [matAutocomplete]="autoStock">
      <mat-error *ngIf="predictionForm.controls['exchange'].hasError('required')" translate>ERRORS.REQUIRED
      </mat-error>
    </mat-form-field>
    <mat-autocomplete #autoStock="matAutocomplete">
      <mat-option *ngFor="let exchange of exchanges | name: autoStockInput.value:'name'"
                  [value]="exchange.name">
        {{ exchange.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-form-field>
      <input type="text" [placeholder]="'NOUNS.IMG_URL' | translate" matInput formControlName="img_url" required>
      <mat-error *ngIf="predictionForm.controls['img_url'].hasError('required')" translate>ERRORS.REQUIRED</mat-error>
      <mat-error *ngIf="predictionForm.controls['img_url'].hasError('maxlength')"
                 translate
                 [translateParams]="{length: 255}">ERRORS.MAX_LENGTH
      </mat-error>
    </mat-form-field>
    <mat-slide-toggle formControlName="order_type">
      <span class="trade_pair__tag"
            [ngClass]="predictionForm.controls['order_type'].value ? 'long' : 'short'">
        {{(predictionForm.controls['order_type'].value ? 'ORDERS.TYPE.LONG' : 'ORDERS.TYPE.SHORT') | translate}}
      </span>
    </mat-slide-toggle>
    <div formGroupName="targets">
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.STOP' | translate" matInput formControlName="stop" required>
        <mat-error *ngIf="predictionForm.controls['targets']['controls']['stop'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="predictionForm.controls['targets']['controls']['stop'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
        </mat-error>
      </mat-form-field>
      <div formGroupName="target_zones">
        <div [formGroupName]="i"
             *ngFor="let arrField of predictionForm.controls['targets']['controls']['target_zones'].controls; index as i; last as last">
          <h4>{{'NOUNS.TARGET_ZONES' | translate:{count: 1} }} {{'SYMBOLS.#' | translate}}{{i + 1}}</h4>
          <mat-form-field>
            <input type="text"
                   [placeholder]="'NOUNS.DESCRIPTION' | translate"
                   matInput
                   formControlName="description"
                   required>
            <mat-error *ngIf="arrField.controls['description'].hasError('required')" translate>ERRORS.REQUIRED
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text"
                   [placeholder]="'NOUNS.TARGET_ZONES' | translate:{count: 1}"
                   matInput
                   formControlName="tz_min"
                   required>
            <mat-error *ngIf="arrField.controls['tz_min'].hasError('required')" translate>ERRORS.REQUIRED</mat-error>
            <mat-error *ngIf="arrField.controls['tz_min'].hasError('pattern')">
              {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text"
                   [placeholder]="'NOUNS.TARGET_ZONES' | translate:{count: 1}"
                   matInput
                   formControlName="tz_max">
            <mat-error *ngIf="arrField.controls['tz_max'].hasError('pattern')">
              {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
            </mat-error>
          </mat-form-field>
          <button type="button" mat-icon-button
                  color="warn"
                  *ngIf="predictionForm.controls['targets'].controls['target_zones'].length > 1"
                  (click)="removeTargetZone(predictionForm.controls['targets'].controls['target_zones'], i)">
            <mat-icon>remove</mat-icon>
          </button>
          <button type="button" mat-icon-button
                  color="accent"
                  *ngIf="last"
                  (click)="add_target_zone(predictionForm.controls['targets'].controls['target_zones'])">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-form-field>
      <input type="text"
             [placeholder]="'NOUNS.SHORT_DESCRIPTION' | translate"
             matInput
             formControlName="short_description"
             required>
      <mat-error *ngIf="predictionForm.controls['short_description'].hasError('required')" translate>ERRORS.REQUIRED
      </mat-error>
      <mat-error *ngIf="predictionForm.controls['short_description'].hasError('maxlength')"
                 translate
                 [translateParams]="{length: 255}">ERRORS.MAX_LENGTH
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea [placeholder]="'NOUNS.DESCRIPTION' | translate"
                matInput
                formControlName="description"
                required></textarea>
      <mat-error *ngIf="predictionForm.controls['description'].hasError('required')" translate>ERRORS.REQUIRED
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="submit()">{{'ACTIONS.CREATE' | translate}}</button>
</mat-dialog-actions>
