@import "src/styles/variables";

:host {
  min-width: 20rem;
}

// TODO: move to separated 'ORDER_TYPE_TAG'(or another name) component
.trade_pair {
  &__tag {
    color: #fff;
    padding: 0.125rem 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.75rem;
    line-height: 100%;
    text-transform: uppercase;
    border-radius: 0.125rem;
    &.long {
      background-color: $green;
    }
    &.short {
      background-color: $red;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}

mat-slide-toggle {
  padding-bottom: 1.25rem;
}
