@import "src/styles/variables";

img.chart {
  width: calc(100% + 48px);
  height: auto;
  margin: 0.5rem -24px;
}

.prediction {
  &__header {
    display: flex;
    align-items: center;
    & > img {
      margin-right: 0.5rem;
    }
    & > span {
      font-size: 20px;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.target {
  &_take {
    color: $green;
  }
  &_stop {
    color: $red;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.trade_pair {
  &__tag {
    color: #fff;
    padding: 0.125rem 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.75rem;
    line-height: 100%;
    text-transform: uppercase;
    border-radius: 0.125rem;
    &.long {
      background-color: $green;
    }
    &.short {
      background-color: $red;
    }
  }
}
