<h2 mat-dialog-title>{{prediction.trade_pair.pair}}
  <small>{{prediction.exchange?.name}}</small>
</h2>
<mat-dialog-content>
  <div class="prediction__header">
    <img mat-card-avatar src="http://via.placeholder.com/50x50" alt="avatar"/>
    <span>{{prediction.short_description}}</span>
  </div>
  <img class="chart" src="{{prediction.img_url}}" alt="chart">
  <div class="target">
    <h4 translate [translateParams]="{count: prediction.targets.target_zones.length}">NOUNS.TARGET_ZONES</h4>
    <div class="target__wrapper" *ngFor="let target of prediction.targets.target_zones">
      <div>{{target.description}} -
        <span class="target_take">{{target.tz_min}}</span>
        <span *ngIf="target.tz_max"> - <span class="target_take">{{target.tz_max}}</span></span>
      </div>
    </div>
  </div>
  <br>
  <div>{{'NOUNS.STOP' | translate}} - <span class="target_stop">{{prediction.targets.stop}}</span></div>
  <pre class="description">{{prediction.description}}</pre>

  <mat-divider></mat-divider>

  <div #form>
    <form [formGroup]="orderForm" *ngIf="newTrade">
      <mat-form-field>
        <input type="text"
               [placeholder]="'NOUNS.EXCHANGE' | translate"
               required
               matInput
               formControlName="exchange"
               #autoStockInput>
      </mat-form-field>

      <mat-form-field>
        <input type="text"
               [placeholder]="'NOUNS.TRADE_PAIR' | translate"
               required
               matInput
               formControlName="symbol"
               #autoInput>
      </mat-form-field>
      <mat-slide-toggle formControlName="buy_direction">
      <span class="trade_pair__tag"
            [ngClass]="orderForm.controls['buy_direction'].value ? 'long' : 'short'">
            {{(orderForm.controls['buy_direction'].value ? 'ORDERS.TYPE.LONG' : 'ORDERS.TYPE.SHORT') | translate}}
      </span>
      </mat-slide-toggle>
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.TAKE_PROFIT' | translate" matInput formControlName="take_position" required>
        <mat-error *ngIf="orderForm.controls['take_position'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="orderForm.controls['take_position'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.STOP_POSITION' | translate" matInput formControlName="stop_position" required>
        <mat-error *ngIf="orderForm.controls['stop_position'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="orderForm.controls['stop_position'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.PRICE' | translate" matInput formControlName="price" required>
        <mat-error *ngIf="orderForm.controls['price'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="orderForm.controls['price'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.QUANTITY' | translate" matInput formControlName="quantity" required>
        <mat-error *ngIf="orderForm.controls['quantity'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="orderForm.controls['quantity'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN_CUSTOM' | translate}} 0.12345 {{'PREPOSITIONS.OR' | translate}} 1.2345
        </mat-error>
      </mat-form-field>


    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" *ngIf="newTrade" (click)="submit()">{{'ACTIONS.CREATE_ORDER' | translate}}</button>
  <button mat-raised-button color="accent" *ngIf="!newTrade" (click)="newTrade = true; scrollToOrderForm()">{{'ACTIONS.CREATE_ORDER' | translate}}</button>
  <button mat-raised-button *ngIf="newTrade" (click)="cancel()">{{'ACTIONS.CANCEL' | translate}}</button>
</mat-dialog-actions>
