<ts-dashboard-layout [title]="title | translate" [user]="user">
  <div ts-side-content>
    <mat-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
        <a mat-list-item [routerLink]="item.route">
          <mat-icon matListAvatar>{{item.icon}}</mat-icon>
          <h3 matLine>{{item.title | translate}}</h3>
          <p matLine>{{item.description | translate}}</p>
        </a>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-nav-list>

  </div>
  <div ts-layout-content>
    <router-outlet></router-outlet>
  </div>
</ts-dashboard-layout>
