@import "src/styles/variables";

mat-sidenav {
  width: 20rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

mat-sidenav-content {
  background-color: #e0e0e0;
}

mat-toolbar {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

mat-sidenav, mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.mat-icon-logo {
  height: 1.5rem;
  width: 6.25rem;
}

.link-logo {
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}

.side-wrapper {
  overflow: auto;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content_wrapper {
    line-height: 100%;
    cursor: pointer;
  }
}

.username {
  font-size: 1.125rem;
}

.account-icon.mat-icon.material-icons {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: auto;
}

.layout-footer {
  padding: 0.625rem 1rem;
  background-color: #F5F5F5;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: $mobile-screen) {
  mat-sidenav {
    width: 100%;
  }
}
