<mat-sidenav-container fullscreen class="td-layout-nav-list">
  <mat-sidenav #sidenav
               position="start"
               mode="side"
               [opened]="sideOpen">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button
                *ngIf="isMobile"
                (click)="this.sideOpen = !this.sideOpen">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" class="link-logo">
          <mat-icon class="mat-icon-logo" svgIcon="assets:trade_service"></mat-icon>
        </a>
        <a class="link-logo" routerLink="/">TS</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="side-wrapper" cdkScrollable>
      <ng-content select="[ts-side-content]"></ng-content>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="header-toolbar">
        <div class="header-toolbar__content_wrapper">
          <button mat-icon-button
                  *ngIf="isMobile"
                  (click)="this.sideOpen = !this.sideOpen">
            <mat-icon>menu</mat-icon>
          </button>
          <span *ngIf="title">{{title}}</span>
        </div>
        <div class="header-toolbar__content_wrapper" [matMenuTriggerFor]="accountMenu">
          <button mat-icon-button>
            <mat-icon class="account-icon">account_circle</mat-icon>
          </button>
          <span class="username" *ngIf="user">{{user.username}}</span>
          <mat-menu #accountMenu="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item [matMenuTriggerFor]="changeLangMenu">
                <mat-icon>swap_horiz</mat-icon>
                <span>{{'LANG.CHANGE' | translate}}</span>
              </button>
              <a routerLink="settings" mat-menu-item *ngIf="user">
                <mat-icon>tune</mat-icon>
                <span>{{'ACCOUNT_SETTINGS' | translate}}</span>
              </a>
              <a (click)="signOut()" mat-menu-item *ngIf="user">
                <mat-icon>exit_to_app</mat-icon>
                <span>{{'SIGN_OUT' | translate}}</span>
              </a>
            </ng-template>
          </mat-menu>
          <mat-menu #changeLangMenu="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item (click)="changeLang('ru')">
                <span>{{'LANG.RU' | translate}}</span>
              </button>
              <button mat-menu-item (click)="changeLang('en')">
                <span>{{'LANG.EN' | translate}}</span>
              </button>
            </ng-template>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="layout-wrapper">
      <div cdkScrollable>
        <ng-content select="[ts-layout-content]"></ng-content>
      </div>
      <div class="layout-footer">
        <span>{{'COPYRIGHT' | translate}}</span>
        <a routerLink="/">{{'RULES' | translate}}.</a>
        <a routerLink="/">{{'PRIVACY_POLICY' | translate}}.</a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
