<h1 mat-dialog-title>{{data.title | async}}</h1>
<mat-dialog-content><p>{{data.content | async}}</p></mat-dialog-content>
<mat-dialog-actions layout-align="end center">
  <button mat-button [mat-dialog-close]="true">{{(data.acceptButtonText || _defaultAcceptButtonText) | async}}</button>
  <button mat-button mat-dialog-close>{{(data.closeButtonText || _defaultCloseButtonText) | async}}</button>
</mat-dialog-actions>
