<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="http://via.placeholder.com/50x50" alt="avatar"/>
    <mat-card-title>TradeService</mat-card-title>
    <mat-card-subtitle>Trade with us</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signInForm">
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.EMAIL' | translate" matInput formControlName="email" required>
        <mat-error *ngIf="signInForm.controls['email'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="signInForm.controls['email'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN' | translate: {pattern: 'email@mail.com'} }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" [placeholder]="'NOUNS.PASSWORD' | translate" matInput formControlName="password" required>
        <mat-error *ngIf="signInForm.controls['password'].hasError('required')">
          {{'ERRORS.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="submit()">{{'ACTIONS.SIGN_IN' | translate}}</button>
  </mat-card-actions>
</mat-card>
