@import "src/styles/variables";

:host {
  flex-basis: 50%;

  @media screen and (max-width: $mobile-screen) {
    flex-basis: calc(100% - 1.875rem);
  }
}

form {
  display: flex;
  flex-direction: column;
}
