<mat-card>
  <mat-card-header>
    <div *ngIf="showWarningAPIAdded">{{'PAGES.ACCOUNT_SETTINGS.SHOW_WARNING_API_ADDED' | translate}}</div>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userDetailForm">
      <mat-form-field>
        <input type="text"
               [placeholder]="'NOUNS.KEY' | translate"
               matInput
               formControlName="key">
        <mat-error *ngIf="userDetailForm.controls['key'].hasError('minlength')">
          {{'ERRORS.MIN_LENGTH' | translate: {length: 10} }}
        </mat-error>
        <mat-error *ngIf="userDetailForm.controls['key'].hasError('required')" translate>ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="userDetailForm.controls['key'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN' | translate: {pattern: 'a-z, A-Z, 0-9'} }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               [placeholder]="'NOUNS.SECRET' | translate"
               matInput
               formControlName="secret">
        <mat-error *ngIf="userDetailForm.controls['secret'].hasError('minlength')">
          {{'ERRORS.MIN_LENGTH' | translate: {length: 10} }}
        </mat-error>
        <mat-error *ngIf="userDetailForm.controls['secret'].hasError('required')" translate>ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="userDetailForm.controls['secret'].hasError('pattern')">
          {{'ERRORS.WRONG_PATTERN' | translate: {pattern: 'a-z, A-Z, 0-9'} }}
        </mat-error>
      </mat-form-field>

      <div class="user-detail__actions" *ngIf="!editing; else edit">
        <button type="button" mat-raised-button color="accent" *ngIf="!editing" (click)="changeAPIKeys()">
          {{'ACTIONS.SET_API_KEYS' | translate}}
        </button>
        <button type="button" mat-button color="warn" (click)="deleteAPIKeys()">{{'ACTIONS.DELETE' | translate}}
        </button>
      </div>


      <ng-template #edit>
        <div class="user-detail__actions">
          <button type="button" mat-raised-button color="accent" *ngIf="editing" (click)="submit()">{{'ACTIONS.SAVE' |
            translate}}
          </button>
          <button type="button" mat-raised-button *ngIf="editing" (click)="cancel()">{{'ACTIONS.CANCEL' | translate}}
          </button>
        </div>
      </ng-template>
    </form>
  </mat-card-content>
</mat-card>
