<mat-card>
  <mat-card-header>
    <h2>Trades</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="table__wrapper mat-elevation-z8">
      <table mat-table [dataSource]="trades" class="mat-elevation-z8">

        <ng-container matColumnDef="CreatedAt">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.DATE_CREATED' | translate}}</th>
          <td mat-cell *matCellDef="let row; index as i"> {{row.CreatedAt | date: 'medium'}}</td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.SYMBOL' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.symbol}}</td>
        </ng-container>

        <ng-container matColumnDef="take_position">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.TAKE_PROFIT' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.take_position}}</td>
        </ng-container>

        <ng-container matColumnDef="stop_position">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.STOP_POSITION' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.stop_position}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.PRICE' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.price}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.QUANTITY' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="buy_direction">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.TRADE_TYPE' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.buy_direction}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.STATUS' | translate}}</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.is_done">
              {{'STATUSES.DONE' | translate}}
            </div>
            <div *ngIf="row.is_cancel">
              {{'STATUSES.CANCELED' | translate}}
            </div>
            <div *ngIf="row.is_done === false && row.is_cancel === false">
              <div *ngIf="row.trade_detail_id === 0; else tradeInProgress">{{'STATUSES.WAITING' | translate}}</div>
              <ng-template #tradeInProgress>{{'STATUSES.IN_PROGRESS' | translate}}</ng-template>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>{{'NOUNS.ACTIONS' | translate}}</th>
          <td mat-cell *matCellDef="let row">
            <!--TODO: change to more complicated if. If we have any actions we MUST show it, otherwise we'll hide it-->
            <mat-icon class="actions__menu-trigger"
                      *ngIf="row.is_cancel === false && row.is_done === false"
                      [matMenuTriggerFor]="actionsMenu"
                      [matMenuTriggerData]="{row: row}">
              more_vert
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-menu #actionsMenu="matMenu">
          <ng-template matMenuContent let-row="row">
            <button mat-menu-item (click)="cancelTrade(row)">
              {{'ACTIONS.CANCEL' | translate}}
            </button>
          </ng-template>
        </mat-menu>
      </table>

    </div>
  </mat-card-content>
</mat-card>
