.table__wrapper {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  min-width: 20px;
  padding-right: 8px;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

.actions__menu-trigger {
  cursor: pointer;
}
