<mat-sidenav-container fullscreen class="td-layout-nav-list">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="header-toolbar">
        <h1 class="header-toolbar__content_wrapper">
          <a routerLink="/" class="link-logo">{{title | translate}}</a>
        </h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="layout-wrapper">
      <div class="content__wrapper" cdkScrollable>
        <router-outlet></router-outlet>
      </div>
      <div class="layout-footer">
        <span>{{'COPYRIGHT' | translate}}</span>
        <a routerLink="/">{{'RULES' | translate}}.</a>
        <a routerLink="/">{{'PRIVACY_POLICY' | translate}}.</a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

