/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~normalize.css";
@import '~@covalent/core/theming/all-theme';
@import "~ngx-toastr/toastr.css";

@import "styles/styles";

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto',
  $headline: mat-typography-level(2rem, 3rem, 700)
);

@include mat-core($typography);

$primary: mat-palette($mat-orange, 800, 100, 900);
$accent:  mat-palette($mat-light-blue, 600, 100, 900);
$warn:    mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

/***
 * Covalent Setup
 */
@include covalent-theme($theme, $typography);
$mat-font-url: '../node_modules/@covalent/core/common/styles/font/';
@include covalent-material-icons();
@include covalent-utilities();

//@include covalent-layout();
