<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="http://via.placeholder.com/50x50" alt="avatar"/>
    <mat-card-title>TradeService</mat-card-title>
    <mat-card-subtitle>Trade with us</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signUpForm">
      <mat-form-field>
        <input type="email" [placeholder]="'NOUNS.EMAIL' | translate" matInput formControlName="email" required>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')" translate>
          ERRORS.REQUIRED
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
          {{'ERRORS.WRONG_PATTERN' | translate: {pattern: 'email@mail.com'} }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('user-exists')">
          {{'ERRORS.USER_EXISTS' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" [placeholder]="'NOUNS.USERNAME' | translate" matInput formControlName="username" required>
        <mat-error *ngIf="signUpForm.controls['username'].hasError('required')">
          {{'ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['username'].hasError('minlength')">
          {{'ERRORS.MIN_LENGTH' | translate: {length: 6} }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['username'].hasError('maxlength')">
          {{'ERRORS.MAX_LENGTH' | translate: {length: 40} }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['username'].hasError('pattern')">
          {{'ERRORS.ONLY_LETTERS_NUMBERS' | translate }}
        </mat-error>

        <mat-error *ngIf="signUpForm.controls['username'].hasError('user-exists')">
          {{'ERRORS.USER_EXISTS' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" [placeholder]="'NOUNS.PASSWORD' | translate" matInput formControlName="password" required>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
          {{'ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">
          {{'ERRORS.MIN_LENGTH' | translate: {length: 8} }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('password-dont-match')">
          {{'ERRORS.PASSWORD_DO_NOT_MATCH' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password"
               [placeholder]="'NOUNS.CONFIRM_PASSWORD' | translate"
               matInput
               formControlName="confirm_password"
               required>
        <mat-error *ngIf="signUpForm.controls['confirm_password'].hasError('required')">
          {{'ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['confirm_password'].hasError('minlength')">
          {{'ERRORS.MIN_LENGTH' | translate: {length: 8} }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['confirm_password'].hasError('password-dont-match')">
          {{'ERRORS.PASSWORD_DO_NOT_MATCH' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="submit()">{{'ACTIONS.SIGN_UP' | translate}}</button>
  </mat-card-actions>
</mat-card>
