@import "src/styles/variables";

:host {
  display: grid;
  grid-gap: 0.75rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(24rem,1fr));
  grid-auto-rows: 1rem;
  padding: 0 0.5rem;

  @media screen and (max-width: $tablet-screen) {
    grid-template-columns: repeat(auto-fill, minmax(22rem,1fr));
  }

  @media screen and (max-width: $mobile-screen) {
    grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
  }
}

mat-card {
  margin: 0;
  img.chart {
    display: block;
    margin: 0.5rem -1.5rem;
    width: calc(100% + 3rem);
    height: 100%;

    @media screen and (max-width: $mobile-screen) {
      margin-left: -1rem;
      margin-right: -1rem;
      width: calc(100% + 2rem);
    }
  }
}

.predict {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

// TODO: move to separated 'ORDER_TYPE_TAG'(or another name) component
.trade-pair {
  &__name {
    font-weight: bold;
  }
  &__pair {
    display: flex;
  }
  &__tag {
    color: #fff;
    padding: 0.125rem 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.75rem;
    line-height: 100%;
    text-transform: uppercase;
    border-radius: 0.125rem;
    &.long {
      background-color: $green;
    }
    &.short {
      background-color: $red;
    }
  }
}
