<div class="card__wrapper" *ngFor="let card of cards; index as i">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="http://via.placeholder.com/50x50" alt="avatar"/>
      <mat-card-title>{{card.user.username}}</mat-card-title>
      <mat-card-subtitle translate [translateParams]="{count: card.created_at | timeAgo }">TIME.AGO.{{card.created_at | timeInterval}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="chart" src="{{card.img_url}}" (load)="resizeAllGridItems()" (error)="resizeAllGridItems()" alt="chart">
      <div class="predict">
        <div class="trade-pair__pair">
          <span class="trade-pair__name">{{card.trade_pair.pair}}</span>
          <span class="trade-pair__tag" [ngClass]="{long: card.order_type, short: !card.order_type}">
            {{(card.order_type ? 'ORDERS.TYPE.LONG' : 'ORDERS.TYPE.SHORT') | translate}}
          </span>
        </div>
      </div>
      <div>{{card.description}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="onOpenPrediction(card)">{{'ACTIONS.OPEN' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
