.mat-list .mat-list-item .mat-list-avatar,
.mat-list .mat-list-option .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-option .mat-list-avatar,
.mat-selection-list .mat-list-item .mat-list-avatar,
.mat-selection-list .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mat-list-item-content mat-icon[matListAvatar],
mat-list-item mat-icon[matListAvatar] {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

mat-sidenav .mat-list-item-content mat-icon {
  margin-left: 0;
  margin-right: 16px;
  color: #737373;
  fill: #737373;
}

.mat-list-item-content mat-icon[matListAvatar],
mat-list-item mat-icon[matListAvatar] {
  background-color: rgba(0, 0, 0, .04);
}

mat-toolbar .mat-icon-logo {
  margin-right: 0.625rem;
}
