@import '~@angular/material/theming';


/***
 * Colors
 */
$app-primary: mat-palette($mat-orange, 800, 100, 900);
$app-accent:  mat-palette($mat-light-blue, 600, 100, 900);
$app-warn:    mat-palette($mat-red, 600, 100, 900);
$app-green: mat-palette($mat-green, 600, 100, 900);
$app-red: mat-palette($mat-red, 600, 100, 900);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$green: mat-color($app-green);
$red: mat-color($app-red);

/***
 * Sizes
 */
$mobile-screen: 36rem;
$tablet-screen: 48rem;
