<h2>{{'LANG.CHOOSE' | translate}}</h2>
<button (click)="changeLang('ru')">Русский</button>
<button (click)="changeLang('en')">English</button>
<hr>

<h3>{{token ? 'You are logged' : 'You aren\'t logged into service'}} </h3>
<button (click)="signOut()">sign out</button>
<hr>
<a routerLink="/">link to landing</a>
<br>
<a routerLink="/dashboard">link to dashboard</a>
<br>
<a routerLink="auth/sign-up">link to sign-up</a>
<br>
<a routerLink="auth/sign-in">link to sign-in</a>
<hr>

